@import 'tailwindcss';

* {
  box-sizing: border-box;
}

header {
  background-image: url('/pattern-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-image: url('/pattern-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (width > 1000px) {
  header,
  footer {
    background-image: url('/pattern-bg-desktop.png');
  }
}
